body {
    margin: 30px;
}
#profile-container{
    width: 300px;
    background-color: cyan;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 0 auto;
}
#profile-image{
    width: 100%;
    margin: 0 auto;
}
#profile-name{
    text-align: center;
}